.why-choose-section {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    line-height: 28px;
    color: #111111;
    font-size: 14px;
    padding: 4rem 0;
}

.why-choose-section .img-wrap {
    position: relative;
}

.why-choose-section .img-wrap:before {
    position: absolute;
    content: "";
    width: 255px;
    height: 217px;
    background-repeat: no-repeat;
    background-size: contain;
    -webkit-transform: translate(-40%, -40%);
    -ms-transform: translate(-40%, -40%);
    transform: translate(-40%, -40%);
    z-index: -1;
}

.why-choose-section .img-wrap img {
    border-radius: 20px;
}

.untree_co-section {
    padding: 1rem 0;
}

.link a {
    text-decoration: none;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
    color: #111111;
    text-decoration: underline;
}

.link img {
    /* max-width: 600px; */
    max-height: 300px;
}

a.more {
    font-weight: 600;
}

.feature {
    margin-bottom: 30px;
}

.feature .icon {
    display: inline-block;
    position: relative;
    margin-bottom: 20px;
}

.feature .icon:before {
    content: "";
    width: 33px;
    height: 33px;
    position: absolute;
    background: rgba(59, 93, 80, 0.2);
    border-radius: 50%;
    right: -8px;
    bottom: 0;
}

.feature h3 {
    font-size: 14px;
    color: #111111;
}

.feature p {
    font-size: 14px;
    line-height: 22px;
    color: #6a6a6a;
}

.member-profile {
    top: -95px;
    left: 0;
}

.member-profile img {
    width: 150px;
    height: 150px;
}

.list-inline-item > a > i{
    font-size: 20px;
}