.footer {
	padding-top: 55px;
	background-color: #111111ec;
	font-family: "Montserrat", sans-serif;
}

.footer__about {
	margin-bottom: 30px;
}

.footer__about p {
	margin-bottom: 20px;
	color: #757575;
}

.footer__logo {
	margin-bottom: 20px;
}

.footer__logo>a>img {
	width: 200px;
}

.footer__payment a {
	margin-right: 6px;
	margin-bottom: 10px;
	display: inline-block;
}

.footer__payment a:last-child {
	margin-right: 0;
}

.footer__widget {
	margin-bottom: 30px;
}

.footer__widget h6 {
	color: #ffffff;
	font-weight: 600;
	text-transform: uppercase;
	margin-bottom: 12px;
	/* padding-left: 32px; */
}

.footer__widget ul li {
	list-style: none;
}

.footer__widget ul li a {
	font-size: 14px;
	color: #757575;
	line-height: 30px;
	text-decoration: none;
}

.footer__newslatter {
	margin-bottom: 30px;
}

.footer__newslatter h6 {
	color: #ffffff;
	font-weight: 600;
	text-transform: uppercase;
	margin-bottom: 25px;
}

.footer__newslatter form {
	position: relative;
	margin-bottom: 30px;
}

.footer__newslatter form input {
	height: 52px;
	width: 100%;
	border: 1px solid #e1e1e1;
	outline: none;
	border-radius: 50px;
	padding-left: 30px;
	font-size: 14px;
	color: #666666;
}

.footer__newslatter form input::-webkit-input-placeholder {
	color: #666666;
}

.footer__newslatter form input::-moz-placeholder {
	color: #666666;
}

.footer__newslatter form input:-ms-input-placeholder {
	color: #666666;
}

.footer__newslatter form input::-ms-input-placeholder {
	color: #666666;
}

.footer__newslatter form input::placeholder {
	color: #666666;
}

.footer__newslatter form button {
	position: absolute;
	right: 4px;
	top: 4px;
}

.footer__social a {
	display: inline-block;
	height: 40px;
	width: 40px;
	background: #e1e1e1;
	font-size: 15px;
	color: #111111;
	line-height: 40px;
	text-align: center;
	border-radius: 50%;
	margin-right: 6px;
	margin-bottom: 5px;
	transition: all 0.5s;
}

.footer__social a:last-child {
	margin-right: 0;
}

.footer__social a.facebook:hover {
	background-color: #3b5998
}

.footer__social a.twitter:hover {
	background-color: #00aced
}

.footer__social a.youtube:hover {
	background-color: #CD201F
}

.footer__social a.instagram:hover {
	background-color: #d62976
}


.footer_copyright_text {
	border-top: 1px solid #e1e1e1;
	padding: 18px 0 25px;
	text-align: center;
	margin-top: 35px;
}


.footer_copyright_text p {
	margin-bottom: 0;
	color: #666666
}

.footer_copyright_text a {
	color: #666666;
	text-decoration: none;
}

.footer_copyright_text i {
	color: #ca1515;
}

.footer_copyright_text a:hover {
	color: #ca1515;
}

.fa-facebook:before {
	content: "\f09a";
}

.fa-youtube-play:before {
	content: "\f16a";
}

.fa {
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.site-btn {
	font-size: 14px;
	color: #ffffff;
	background: #ca1515;
	font-weight: 600;
	border: none;
	text-transform: uppercase;
	display: inline-block;
	padding: 12px 30px;
	border-radius: 50px;
}