.profile_container {
    background-color: aliceblue;
    display: flex;
    flex-direction: row;
}

.img_container {
    height: 400px;
    width: 40%;
    background-color: #fff;
    margin: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.img_container img {
    height: 20vh;
    width: 20vh;
    border: 15px solid rgb(232, 201, 173);
    border-radius: 100%;
    transition: all 0.5s;
}

.img_container a {
    border: none;
    font: 400 1vmax;
    color: white;
    text-decoration: none;
    padding: 0.5vmax;
    width: 30%;
    margin: 5px;
    text-align: center;
    border-radius: 4px;
}

.edit_profile {
    background-color: blue;
}

.edit_profile:hover {
    background-color: rgb(69, 69, 249);
}

.change_password {
    background-color: green;
}

.change_password:hover {
    background-color: rgb(2, 170, 2);
}

.logout {
    background-color: red;
}

.logout:hover {
    background-color: rgb(255, 71, 71);
}

.other {
    background-color: #fff;
    width: 70%;
    height: 400px;
    margin: 50px;
    margin-left: 10px;
    border-radius: 5px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.other h2 {
    margin-bottom: 15px;
    text-decoration: underline;
}


.other a {
    border: none;
    background-color: blue;
    font: 400 1vmax;
    color: white;
    text-decoration: none;
    padding: 0.5vmax;
    width: 30%;
    /* margin: 5px; */
    text-align: center;
    border-radius: 4px;
}

.other table {
    border-collapse: collapse;
    margin: 15px;
    margin-bottom: 15px;
}

.other td,
th {
    text-align: left;
    padding: 5px;
    border: 1px solid #dee2e6;
    font-size: 29px;
}
/* .other td{
    width: 30%;
}
.other th{
    width: 2%;
} */

.other a:hover {
    background-color: rgb(69, 69, 249);
}

@media screen and (max-width: 992px) {
    .profile_container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .img_container {
        width: 320px;
    }

    .other {
        justify-content: center;
        align-items: center;
        width: 320px;
        margin-left: 50px;
    }
    .other table{
        /* width: 50%; */
    }
    .other td, th{
        font-size: 15px;
    }
    
}