/* .loading{
    width: 100vw;
    height: 100vh;
    background-color: white;
    display: grid;
    place-items: center;
    max-width: 100%;
}
.loading > div{
    width: 10vmax;
    height: 10vmax;
    border-bottom: 5px solid #0007ff;
    border-radius: 50%;
    animation: loadingRotate 800ms linear infinite;
}
@keyframes loadingRotate{
    to{
        transform: rotateZ(-360deg);
    }
}

.loaderGif{
    width: 100vw;
    height: 100vh;
    background-color: white;
    display: grid;
    place-items: center;
    max-width: 100%;
} */

.loaderGif{
    width: 100vw;
    height: 100vh;
    background-color: white;
    display: grid;
    place-items: center;
}

@keyframes ldio-li3v9y3mh47 {
    0% { transform: rotate(0) }
    100% { transform: rotate(360deg) }
  }
  .ldio-li3v9y3mh47 div { box-sizing: border-box!important }
  .ldio-li3v9y3mh47 > div {
    position: absolute;
    width: 144px;
    height: 144px;
    top: 28px;
    left: 28px;
    border-radius: 50%;
    border: 16px solid #000;
    border-color: #2874f0 transparent #2874f0 transparent;
    animation: ldio-li3v9y3mh47 1s linear infinite;
  }
  
  .ldio-li3v9y3mh47 > div:nth-child(2), .ldio-li3v9y3mh47 > div:nth-child(4) {
    width: 108px;
    height: 108px;
    top: 46px;
    left: 46px;
    animation: ldio-li3v9y3mh47 1s linear infinite reverse;
  }
  .ldio-li3v9y3mh47 > div:nth-child(2) {
    border-color: transparent #0007ff transparent #0007ff
  }
  .ldio-li3v9y3mh47 > div:nth-child(3) { border-color: transparent }
  .ldio-li3v9y3mh47 > div:nth-child(3) div {
    position: absolute;
    width: 100%;
    height: 100%;
    transform: rotate(45deg);
  }
  .ldio-li3v9y3mh47 > div:nth-child(3) div:before, .ldio-li3v9y3mh47 > div:nth-child(3) div:after { 
    content: "";
    display: block;
    position: absolute;
    width: 16px;
    height: 16px;
    top: -16px;
    left: 48px;
    background: #2874f0;
    border-radius: 50%;
    box-shadow: 0 128px 0 0 #2874f0;
  }
  .ldio-li3v9y3mh47 > div:nth-child(3) div:after {
    left: -16px;
    top: 48px;
    box-shadow: 128px 0 0 0 #2874f0;
  }
  
  .ldio-li3v9y3mh47 > div:nth-child(4) { border-color: transparent; }
  .ldio-li3v9y3mh47 > div:nth-child(4) div {
    position: absolute;
    width: 100%;
    height: 100%;
    transform: rotate(45deg);
  }
  .ldio-li3v9y3mh47 > div:nth-child(4) div:before, .ldio-li3v9y3mh47 > div:nth-child(4) div:after {
    content: "";
    display: block;
    position: absolute;
    width: 16px;
    height: 16px;
    top: -16px;
    left: 30px;
    background: #0007ff;
    border-radius: 50%;
    box-shadow: 0 92px 0 0 #0007ff;
  }
  .ldio-li3v9y3mh47 > div:nth-child(4) div:after {
    left: -16px;
    top: 30px;
    box-shadow: 92px 0 0 0 #0007ff;
  }
  .loadingio-spinner-double-ring-qfwxcfagwa {
    width: 200px;
    height: 200px;
    display: inline-block;
    overflow: hidden;
    background: #ffffff;
  }
  .ldio-li3v9y3mh47 {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0; /* see note above */
  }
  .ldio-li3v9y3mh47 div { box-sizing: content-box; }