.productsHeading {
    margin: 2vmax auto;
    width: 15vw;
    border-bottom: 1px solid rgba(0, 0, 0, 0.171);
    padding: 2vmax;
    color: rgba(0, 0, 0, 0.678);
    font: 500 1.5vmax "Roboto";
    text-align: center;
}

.products {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0 20vmax;
    justify-content: center;
    min-height: 30vh;
}

.productsCard {
    width: 120%;
    display: flex;
    text-decoration: none;
    color: rgb(48, 48, 48);
    margin: 1vmax;
    transition: all 0.5s;
    padding-bottom: 0.5vmax;
}

.productsCard>img {
    width: 14vmax;
}

.divTwo {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    padding-left: 15px;
}

.productsCard>div>span {
    margin: 0.5vmax;
    font: 300 0.7vmax "Roboto";
    
}

.productsCard>p {
    font-family: "Roboto";
    font-size: 1.2vmax;
    margin: 1vmax 0.5vmax;
    margin-bottom: 0;
}

.productsCard>span {
    margin-left: 450px;
    margin-top: 5px;
    color: black;
    font-size: 1.5vmax;
}

.productsCard:hover {
    box-shadow: 0 0 5px rgba(15, 15, 15, 0.26);

}

.filterBox {
    padding: 10px;
    width: 15vmax;
    position: absolute;
    top: 20vmax;
    left: 4vmax;
    border: 2px solid rgba(0, 0, 0, 0.329);
    border-radius: 5px;
}

.categoryBox {
    padding: 0%;
}

.category-link {
    list-style: none;
    color: rgba(0, 0, 0, 0.61);
    font: 400 0.8vmax "Roboto";
    margin: 0.4vmax;
    cursor: pointer;
    transition: all 0.5s;
}

.category-link:hover {
    color: #0007ff;
}

.filterBox>fieldset {
    border: 1px solid rgba(0, 0, 0, 0.329);
}

.filter_btn{
    display: none;
}


@media screen and (max-width: 992px) {
    .productsHeading {
        padding-right: 45px;
    }

    .products {
        flex-direction: row;
    }

    .productsCard {
        flex-direction: column;
        width: 14vmax;
    }

    .productsCard>span {
        margin: 0.5vmax 0.5vmax;
    }

    .divTwo {
        padding-left: 0%;
    }

    .rating>span {
        width: 10vmax;
    }

    .filterBox{
        display: none;
    }
    .filterBox p{
        color: #fff;
    }
    .filterBox fieldset{
        color: #fff;
    }
    /* .filterBox span{
        color: #000;
    } */

    .filterBox_toggle {
        display: block;
        width: 300px;
        /* background-color: rgba(7, 17, 127, 0.9); */
        background-color: gray;
        overflow: hidden;
    }

    .category-link {
        color: #fff;
        font: 400 1.8vmax "Roboto";
    }
    .filter_btn{
        display: block;
    }
    .filter_btn svg{
        color: black;
        margin: 10px;
        height: 25px;
        width: 25px;
    }
}